body{
    max-width: 1440px;
    margin-inline: auto;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    display: flex;
    flex-direction: column;
	gap: 6rem;
    align-self: center;

    min-height: 100dvh;
}

body > *+* {
    margin-top: 2rem;
}
body > footer {	
	align-self: center;
	margin-top: auto;
    margin-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;

	margin-inline: 2rem;

    align-items: center;
    justify-content: center;
}

a{
	color: black;
}

.lire:hover{
	color: #04a8de;
}

section > form > button {
	margin-top: 2rem;
}
