.article h3 {
	font-weight: 400;
	color: rgb(15, 15, 15);
}

.article > p {
	margin-top: 2rem;
}

.article > p:first-of-type{
	margin-top: 0.5rem;	
}

.article > * + p:has(small){
	margin-top: 0.1rem;	
}

