.label-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.label-list div {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;

	&.auto{
		justify-content: space-between;
	}
}


.label-list input {
	padding: 0.4rem;
}

