.label-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.label-list div {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;

	&.auto{
		justify-content: space-between;
	}
}


.label-list input {
	padding: 0.4rem;
}

.label-list .doubleForm  p{
	display: inline-block;
}

.label-list .doubleForm form:first-child {
	display: flex;
	justify-content: space-between;

	min-width: 50ch;
}

.label-list .end {
	display: block;
}

.label-list .doubleForm{
	justify-content: space-between;
}



