:is([id="soumettre-article"], [id="modifier-article"]) {
	display: flex;
	flex-direction: column;

	min-width: 80ch;
}

:is([id="soumettre-article"], [id="modifier-article"]) :is(label, fieldset) {
	margin-top: 1rem;
}

:is([id="soumettre-article"], [id="modifier-article"]) :is(input, select, textarea) {
	margin-top: 0.5rem;
	padding: 0.4rem;
}

:is([id="soumettre-article"], [id="modifier-article"]) textarea {

	box-sizing: border-box;
	resize: none;
}

:is([id="soumettre-article"], [id="modifier-article"]) input[type="submit"] {
	font-weight:600;
	margin-top: 2rem;
}


:is([id="soumettre-article"], [id="modifier-article"]) fieldset {
	padding: 0.4rem;
}

:is([id="soumettre-article"], [id="modifier-article"]) legend {
	padding-inline: 0.3rem;
}