.article {
	max-width: 100ch;
}

.article h3 {
	font-weight: 400;
	color: rgb(15, 15, 15);
}

.article > :is(p, .p) {
	margin-top: 2rem;
}

.article > p:first-of-type{
	margin-top: 0.5rem;	
}

.article > * + p:has(small){
	margin-top: 0.1rem;	
}

.article [data-category] span {
	display: inline-block;
}

/* .article div {
	display: flex;
	gap: 0.5rem;
} */

.article [data-tags] span {
	color: rgb(15, 15, 15);
	font-size: 0.8rem;
}
